<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="uk.co.randomcoding.drinkfinder.android" >

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:debuggable="true"
		android:icon="@drawable/android:star_big_on"
		android:label="@string/app_name" >
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".SearchDrinkActivity"
			android:label="@string/title_activity_search_drink" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="uk.co.randomcoding.drinkfinder.android.MainActivity" />
		</activity>
		<activity
			android:name=".UpdateDataActivity"
			android:label="@string/title_activity_update_data" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="uk.co.randomcoding.drinkfinder.android.MainActivity" />
		</activity>
		<activity
			android:name=".DisplayResultsActivity"
			android:label="@string/title_activity_display_results" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="uk.co.randomcoding.drinkfinder.android.MainActivity" />
		</activity>
	</application>

	<uses-sdk android:minSdkVersion="10" />

</manifest>